<template>
    <canvas id="aivalley"></canvas>
    <div id="status-panel" style="margin-top:10px; font-family:monospace;"></div>
</template>

<script>
  import { Grid } from './project/Grid.js';
  import { Agent } from './project/Agent.js';
  import { render } from './project/Renderer.js';
  import { updateStatus } from './project/StatusPanel.js';

  const grid = new Grid(5, 5, 32);
  const agent = new Agent(grid,[2,3], [1000,1000,1000,1000,1000]);

  function gameLoop() {
    agent.makeNextMove();
    render(grid, agent);
    updateStatus(agent)
  }

  // ✅ Troque DOMContentLoaded por scripts:ready
  document.addEventListener('scripts:ready', () => {
    setInterval(gameLoop, 500);
  });

  // ✅ Para o sistema saber que o script terminou
  document.dispatchEvent(new CustomEvent('component:executed', { detail: 'game' }));
</script>