<template>
    <canvas id="aivalley"></canvas>
    <div id="status-panel" style="margin-top:10px; font-family:monospace;"></div>
</template>

<script>
  import { World } from './project/World.js';
  import { Agent } from './project/Agent.js';
  import { render } from './project/Renderer.js';
  import { updateStatus } from './project/StatusPanel.js';

  const world = new World(10,10,32);
  const agent = new Agent(world,[2,3], [1000,1000,1000,1000,1000]);
  const agent2 = new Agent(world,[4,5], [1000,1000,1000,1000,1000])

  function gameLoop() {
    if(agent.isAlive()) agent.makeNextMove();
    if(agent2.isAlive()) agent2.makeNextMove();
    render(world, [agent, agent2]);
    updateStatus(agent)
  }

  // ✅ Troque DOMContentLoaded por scripts:ready
  document.addEventListener('scripts:ready', () => {
    setInterval(gameLoop, 500);
  });

  // ✅ Para o sistema saber que o script terminou
  document.dispatchEvent(new CustomEvent('component:executed', { detail: 'game' }));
</script>